ops/n8n/workflows/4_incident_ack.json
{
  "name": "Ops - Incident Ack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops/incident-ack",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/incident_acknowledgements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "incident_id",
              "value": "={{ $json.incident_id }}"
            },
            {
              "name": "actor_role",
              "value": "={{ $json.actor_role }}"
            },
            {
              "name": "actor_id",
              "value": "={{ $json.actor_id }}"
            },
            {
              "name": "note",
              "value": "={{ $json.note }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Insert Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/incidents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.={{ $json.incident_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "ACKED"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/governance_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "INCIDENT_ACK"
            },
            {
              "name": "actor_role",
              "value": "={{ $items('Webhook')[0].json.actor_role }}"
            },
            {
              "name": "details",
              "value": "={{ JSON.stringify($items('Webhook')[0].json) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"OK\"\n}",
        "options": {}
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Ack": {
      "main": [
        [
          {
            "node": "Update Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Incident": {
      "main": [
        [
          {
            "node": "Log Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Ack": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "778afc1f-e52c-4e2a-abd8-6e4393222d70"
}
